**/project-dog-classification/lfw
**/project-dog-classification/dogImages
**/**/.ipynb_checkpoints
**/**/_MACOSX
**/**/__MACOSX
**/**/__pycache__

**/**/project-face-generation/processed_celeba_small
**/processed-celeba-small.zip
